/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }

body {
    background-color: rgb(228, 228, 228);
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 60px;
}

h1 {
    font-family: 'Indie Flower', cursive; 
    background-color: white;
    box-shadow: 0 2px 4px rgb(134, 134, 134);
    padding: 20px 0;
    font-size: 80px;
    color: black;
}

h3 {
    text-align: center;
    font-size: medium;
}

footer {
    background-color: #333; 
    color: rgb(255, 255, 255); 
    font-weight: bold; 
    font-size: x-small;
    text-align: center; 
    padding: 10px; 
    width: 100%; 
    position: fixed; /* Fijar posición */
    bottom: 0; /* Colocar al final de la ventana */
    left: 0; /* Alinear a la izquierda */
}

/* Estilos para la barra de búsqueda */
.search-container {
    margin-top: 20px; /* Espacio superior */
    text-align: center; /* Centra el contenido */
    font-size: medium;
}

#search-input {
    font-size: medium;
    padding: 10px; /* Añade espaciado interno */
    width: 300px; /* Ancho de la barra de búsqueda */
    margin-right: 10px; /* Margen derecho para separar del botón de búsqueda */
}

#search-results {
    text-align: center; /* Alinea los resultados a la izquierda */
    margin-top: 10px; /* Espacio superior */
    max-width: 600px; /* Ancho máximo de los resultados */
    margin-left: auto; /* Centra los resultados horizontalmente */
    margin-right: auto; /* Centra los resultados horizontalmente */
}

#search-results ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Quita el espacio interno de la lista */
}

#search-results li {
    padding: 5px 0; /* Espaciado interno */
}


.productos {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  /* Distribuye los elementos equitativamente en el espacio */
}

.producto {
    flex-basis: calc(100%/3 - 20px); /* Ajusta el ancho de cada elemento */
    border: 2px solid rgb(190, 190, 190);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(134, 134, 134);
}

.producto img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #eee;
}

.producto p {
    background-color: white;
    font-size: 25px;
    color: black;
    padding: 10px;
    margin: 0;
}

.login-message {
    display: none; /* Inicialmente oculto */
    text-align: center;
    margin-top: 20px;
}


.login-link {
    text-align: center;
    margin-top: 20px;
}

/* Estilo para los botones */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    color: white;
}

/* Estilo para el botón de Iniciar Sesión */
button.login-btn {
    background-color: #ff8989;
    color: black;
}

/* Estilo para el botón de Cerrar Sesión */
button.logout-btn {
    background-color: #ee2b15; 
    color: black;
}

/* Cambiar el color del botón cuando se hace hover */
button:hover {
    opacity: 0.8;
}

