/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
}

.producto {
    margin: 20px;
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: auto;
}

.producto p {
    font-size: 18px;
    color: #666;
    padding: 10px;
    margin: 0;
}
