/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: black;
}

.productos {
    display: flex;
    justify-content: space-between;  /* Distribuye los elementos equitativamente en el espacio */
}

.producto {
    width: calc(100%/3); /* Divide el ancho en 3 partes iguales*/
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Para que la imagen cubra todo el espacio disponible */
    object-position: center; /* Para centrar la imagen */
}

.producto p {
    font-size: 18px;
    color: black;
    padding: 10px;
    margin: 0;
}
