/* Así definimos el comportamiento de caja para todos los elementos */
* {
  box-sizing: border-box;
}

body {
text-align: center;
margin: 0;
padding: 0;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 80px;
  background-color: rgb(228, 228, 228);;

}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
}

select {
  width: 100%;
  padding: 15px;
  font-size: 25px;
  border-radius: 10px;  
}

button {
  margin-top: 3px;
  padding: 10px 15px; /* Aumentamos el padding para que sea más grande */
  font-size: 15px; /* Aumentamos el tamaño del texto */
  border-radius: 10px; /* Aumentamos el radio de borde para que sea más redondeado */
  background-color: rgb(82, 82, 82); /* Cambiamos el color de fondo para que sea más llamativo */
  color: white; /* Cambiamos el color del texto a blanco para que sea más legible */
  border: none; /* Quitamos el borde para que se vea más limpio */
  cursor: pointer;
}


/* Estilos para el botón "Página Principal" al pasar el mouse sobre él */
button:hover {
  background-color: #ff4c4c; /* Cambiamos el color de fondo al pasar el mouse sobre él */
}


.tallas {
  margin-top: 50px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}


.adidas {
  width: calc(30% - 20px);
  height: auto;
  margin: 10px;
  cursor: pointer;
  margin-top: 180px;
}

.descripcion {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  font-size: 15px;
  line-height: 1.5;
}

.precio {
  display: inline-block;
  padding: 10px;
  border: 2px solid #eb0000;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  margin: 15px 0;
  color: #000000; 
  font-weight: bold;
}

/* Estilos para la imagen seleccionada */
.img-seleccionada {
  border: 2px solid transparent;
  transform: scale(1.2);
}

/* esto lo utilizamos para que se adapte a la pantalla de movil:*/
@media screen and (max-width: 600px) {
  .nike {
    width: calc(50% - 20px); /* Cambiamos el ancho para que haya dos imágenes por fila */
}

.tallas {
    max-width: 90%; /* Reducimos el ancho máximo del contenedor de tallas */
}

}

