body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h2 {
  font-family: 'Indie Flower', cursive; 
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px 0;
  box-shadow: 0 2px 4px rgb(134, 134, 134);
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  box-sizing: border-box;
}

#display {
  min-height: 200px;
  border: 1px solid #aaaaaa;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
}

.chat-container {
  display: flex;
  align-items: flex-start; /* Alinea los elementos al inicio del eje transversal (vertical) */
}

.user-list {
  flex: 1;
  padding-right: 10px;
  margin-top: 30px; /* Añade margen superior para alinear con el input */
}

.chat {
  flex: 3;
  padding-left: 30px; /* Desplaza la parte de los mensajes hacia la derecha */
}

footer {
  background-color: #333; 
  color: rgb(255, 255, 255); 
  font-weight: bold; 
  font-size: xx-small;
  text-align: center; 
  padding: 3px; 
  width: 100%; 
  position: fixed; /* Fijar posición */
  bottom: 0; /* Colocar al final de la ventana */
  left: 0; /* Alinear a la izquierda */
  margin-top: 100px; /* Asegura que el contenido no se solape con el footer */
}

.user-list {
  flex: 1;
  padding-right: 10px; /* Aumenta el espacio entre la lista de usuarios y el borde derecho del contenedor */
  padding-left: 20px; /* Agrega más espacio al lado izquierdo para separar la lista de usuarios del borde izquierdo del contenedor */
}

.user-item {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
